html,
body {
  background-color: #ffffff;
}

.pure-u-1 img {
  width: 100%;
  height: 13vw;
}

.pure-u-1-3 img {
  width: 30vw;
  height: 30vw;
}

.pure-u-1-3 {
  margin-top: 30px;
  height: 30vw;
}

#text_div {
  margin-left: 10px;
  margin-right: 10px;
}

#title {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #0570b0;
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #444444;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.container-row {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.container-title {
  flex: 1; /* Distribute available space equally */
  padding: 10px;
  border: 1px solid #ffffff;
  margin: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.container {
  flex: 1; /* Distribute available space equally */
  padding: 10px;
  border: 1px solid #ffffff;
  margin: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: 14px;
  justify-content: center;
}

.container-icon {
  height: 70px;
  width: 70px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.container-numbering {
  height: 50px;
  width: 50px;
}

.in-text-icon {
  height: 15px;
  width: 15px;
  justify-content: center;
}

.container-numbering-padding {
  width: 50px;
}

.side-padding {
  width: 30px;
}

.container-next-row {
  height: 120px;
}

.bibliography {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: 14px;
}

.authorship {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  color: #505050;
}
